.bienvenidos-section {
    & p {
        width: auto;
        max-width: 65ch;
        hyphenate-limit-chars: 7;
        hyphens: auto;
        text-align: justify;
        text-wrap: pretty;
        line-height: 2.2ch;
    }

    & h1,
    h4 {
        text-align: center;
    }

    & h4 {
        text-decoration: underline;
        margin-bottom: .5rem;
    }

    .title-container {
        height: 8vh;
    }

    .container {
        width: fit-content;
    }

    @media (max-width: 768px) {
        .title-container {
            height: 50px;
        }
    }

    .primary-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;

        max-width: 700px;
        margin: 3rem auto;
        padding: 2rem 5vw;
        background-color: rgb(70 70 70 / 90%);
    }


    .groups-list {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
        margin: 1rem auto 0;

        .group-item {
            background-color: var(--bg-color);
            color: #f1f1f1;
            border-radius: 10px;
            display: flex;
            gap: .2rem;
            padding: .25em .5em;
            
            & a {
                font-size: 1rem;
            }

            & svg {
                max-width: 16px;
                min-width: 8px;
                width: 10vw;
                height: auto;
            }
        }
    }

    .youtube-channel {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        gap: .5em;
        background-color: var(--dark-gray);
        margin: 1.5em auto 0 auto;

        & span {
            font-size: clamp(.8rem, 2vw, 1rem);
            text-transform: uppercase;
        }

        & .img-container,
        svg {
            max-width: 64px;
            min-width: 32px;
            width: 12vw;
            height: auto;
        }

        & .img-container .channel-avatar {
            border-radius: 50%;
        }
    }
}