.aclaraciones-section {
    width: 800px;
    margin: 5rem auto;

    .aclaraciones-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .item-aclaracion {
            width: 80%;
            position: relative;

            .content {
                background-color: rgb( 0 0 0 / 60%);
                padding: .5rem;
                z-index: 2;
                bottom: 0;
                position: absolute;
                color: #f1f1f1
            }
        }
    }
}